<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Required to change ringer mode and stream volume -->
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <!-- Needed to override Do Not Disturb -->
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <application />
</manifest>
